---
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <div class="flex items-center h-[70vh]">
      <PageHeading
        title="404: This page does not exist"
        description="You may have mistyped the address or the page has been moved"
      />
    </div>
  </section>
</Layout>
