name: Release

on:
  push:
    tags: ['**']

jobs:
  sync-rc-branch:
    runs-on: ubuntu-24.04
    timeout-minutes: 1
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - run: |
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          git config user.name github-actions
          git checkout -B rc
          git push origin rc --force
